body {
    background-color: black;
}

canvas {
    background-color: #f5deb3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@keyframes missType {
    0% {
        background-color: beige;
    }
}

.missed {
    animation: missType 1s forwards;
}